@import url("https://fonts.googleapis.com/css2?family=Roboto");
html {
  font-family: "Roboto", "Verdana";
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h2 {
  font-size: 3rem;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 1rem;
  -webkit-text-decoration-color: orange;
          text-decoration-color: orange;
}

h2::first-letter {
  color: orange;
  font-weight: bolder;
  letter-spacing: 0.5rem;
  font-size: 4rem;
}

h2 + p {
  text-align: center;
  font-size: 2rem;
  font-style: italic;
  font-weight: lighter;
}

.header p {
  text-align: center;
}

.container {
  background-color: rgb(254, 254, 255);
  width: 1440px;
  max-width: 100vw;
  padding: 2rem;
  border-radius: 2rem;
  margin: 2rem auto;
  height: 100%;
}

.gallery {
  background-color: rgb(255, 255, 255);
  display: grid;
  gap: 2rem;
  justify-content: space-around;
  padding: 2rem;
  grid-template-rows: calc(480px - 20rem) calc(480px - 20rem) calc(480px - 20rem) calc(480px - 20rem);
  grid-template-columns: auto auto auto;
  grid-template-areas: "item2 item1 big1  " "item4 item5 big1  " "item6 item7 item8 " "item6 item9 item10";
}
.gallery .gallery-item {
  overflow: hidden;
  width: calc(480px - 3rem);
  height: calc(480px - 20rem);
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgb(128, 125, 125);
  box-shadow: 2px 2px 5px rgb(173, 169, 169);
}
.gallery .gallery-item img {
  filter: brightness(70%);
  width: calc(480px - 3rem);
  height: calc(480px - 20rem);
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s ease-in-out;
  box-shadow: 5px 5px 10px black;
}
.gallery .gallery-item img:hover > div {
  overflow: hidden;
}
.gallery .gallery-item p {
  top: -4.5rem;
  position: relative;
  background-color: rgba(128, 128, 128, 0.507);
  padding: 1rem;
  color: white;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gallery .gallery-item:hover img {
  filter: brightness(100%);
  transform: scale(1.1);
  transition: scale 0.2s ease-in-out, filter 0.2s ease-in-out;
}
.gallery .gallery-item:nth-child(1) {
  grid-area: item1;
}
.gallery .gallery-item:nth-child(2) {
  grid-area: item2;
}
.gallery .gallery-item:nth-child(3) {
  grid-area: big1;
  height: calc((480px - 20rem) * 2 + 2rem);
}
.gallery .gallery-item:nth-child(3) img {
  height: calc((480px - 20rem) * 2 + 2rem);
}
.gallery .gallery-item:nth-child(4) {
  grid-area: item4;
}
.gallery .gallery-item:nth-child(5) {
  grid-area: item5;
}
.gallery .gallery-item:nth-child(6) {
  grid-area: item6;
  height: calc((480px - 20rem) * 2 + 2rem);
}
.gallery .gallery-item:nth-child(6) img {
  height: calc((480px - 20rem) * 2 + 2rem);
}
.gallery .gallery-item:nth-child(7) {
  grid-area: item7;
}
.gallery .gallery-item:nth-child(8) {
  grid-area: item8;
}
.gallery .gallery-item:nth-child(9) {
  grid-area: item9;
}
.gallery .gallery-item:nth-child(10) {
  grid-area: item10;
}

/*
MOdal form
*/
.modalForm {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.575);
}
.modalForm .inner {
  position: relative;
  top: 10%;
  left: 10%;
  width: 80vw;
  height: 80vh;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
}
.modalForm .inner span {
  position: absolute;
  font-size: 4rem;
  right: 2rem;
  top: 2rem;
  border-radius: 50%;
  padding: 0 1rem;
  z-index: 2;
}
.modalForm .inner span a {
  color: white;
}
.modalForm .inner span:hover {
  background-color: rgba(128, 128, 128, 0.514);
}
.modalForm .inner .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}
.modalForm .inner .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.modalForm .inner .image p {
  width: calc(100% - 2rem);
  position: absolute;
  bottom: 0;
  color: white;
  padding: 2rem;
  font-size: 2rem;
  background-color: rgba(128, 128, 128, 0.466);
}
.modalForm .inner .image .pageLeft, .modalForm .inner .image .pageRight {
  background-color: rgba(128, 128, 128, 0.466);
  position: absolute;
  top: calc(25% + 1rem);
  height: calc(50% - 2rem);
  font-size: 10rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalForm .inner .image .pageLeft a, .modalForm .inner .image .pageRight a {
  color: white;
}
.modalForm .inner .image .pageLeft:hover, .modalForm .inner .image .pageRight:hover {
  background-color: rgba(128, 128, 128, 0.566);
}
.modalForm .inner .image .pageRight {
  right: 1rem;
}

.modalForm.active {
  display: block;
}

@media only screen and (max-width: 1500px) {
  .container {
    width: 1200px;
  }
  .gallery {
    gap: 1rem;
    grid-template-rows: calc(400px - 20rem) calc(400px - 20rem) calc(400px - 20rem) calc(400px - 20rem);
  }
  .gallery .gallery-item {
    width: calc(400px - 3rem);
    height: calc(400px - 20rem);
  }
  .gallery .gallery-item img {
    width: calc(400px - 3rem);
    height: calc(400px - 20rem);
  }
  .gallery .gallery-item:nth-child(3) {
    height: calc((400px - 20rem) * 2 + 1rem);
  }
  .gallery .gallery-item:nth-child(3) img {
    height: calc((400px - 20rem) * 2 + 1rem);
  }
  .gallery .gallery-item:nth-child(6) {
    height: calc((400px - 20rem) * 2 + 1rem);
  }
  .gallery .gallery-item:nth-child(6) img {
    height: calc((400px - 20rem) * 2 + 1rem);
  }
}
@media only screen and (max-width: 1200px) {
  .container {
    width: 900px;
  }
  .gallery {
    gap: 1rem;
    grid-template-rows: calc(450px - 10rem) calc(450px - 10rem) calc(450px - 10rem) calc(450px - 10rem) calc(450px - 10rem) calc(450px - 10rem);
    grid-template-columns: auto auto;
    grid-template-areas: "item1 item2" "big1 big1" "item4 item5" "item6 item6" "item7 item8" "item9 item10";
  }
  .gallery .gallery-item {
    width: calc(450px - 2rem);
    height: calc(450px - 10rem);
  }
  .gallery .gallery-item img {
    width: calc(450px - 2rem);
    height: calc(450px - 10rem);
  }
  .gallery .gallery-item:nth-child(3), .gallery .gallery-item:nth-child(6) {
    width: calc((450px - 2rem) * 2 + 1rem);
    height: calc(450px - 10rem);
  }
  .gallery .gallery-item:nth-child(3) img, .gallery .gallery-item:nth-child(6) img {
    width: calc((450px - 2rem) * 2 + 1rem);
  }
  .gallery .gallery-item:nth-child(3) p, .gallery .gallery-item:nth-child(6) p {
    top: -10.5rem;
  }
}
@media only screen and (max-width: 900px) {
  .container {
    width: 800px;
  }
  .gallery {
    gap: 1rem;
    grid-template-rows: calc(400px - 10rem) calc(400px - 10rem) calc(400px - 10rem) calc(400px - 10rem) calc(400px - 10rem) calc(400px - 10rem);
    grid-template-columns: auto auto;
    grid-template-areas: "item1 item2" "big1 big1" "item4 item5" "item6 item6" "item7 item8" "item9 item10";
  }
  .gallery .gallery-item {
    width: calc(400px - 2rem);
    height: calc(400px - 10rem);
  }
  .gallery .gallery-item img {
    width: calc(400px - 2rem);
    height: calc(400px - 10rem);
  }
  .gallery .gallery-item:nth-child(3), .gallery .gallery-item:nth-child(6) {
    width: calc((400px - 2rem) * 2 + 1rem);
    height: calc(400px - 10rem);
  }
  .gallery .gallery-item:nth-child(3) img, .gallery .gallery-item:nth-child(6) img {
    width: calc((400px - 2rem) * 2 + 1rem);
  }
  .gallery .gallery-item:nth-child(3) p, .gallery .gallery-item:nth-child(6) p {
    top: -10.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    width: 500px;
  }
  .gallery {
    gap: 1rem;
    grid-template-rows: repeat(10, auto);
    grid-template-columns: 1fr;
    grid-template-areas: "item1" "item2" "big1" "item4" "item5" "item6" "item7" "item8" "item9" "item10";
  }
  .gallery .gallery-item {
    width: calc(500px - 2rem);
    height: calc(500px - 10rem);
  }
  .gallery .gallery-item img {
    width: calc(500px - 2rem);
    height: calc(500px - 10rem);
  }
  .gallery .gallery-item:nth-child(3), .gallery .gallery-item:nth-child(6) {
    width: calc(500px - 2rem);
    height: calc(500px - 10rem);
  }
  .gallery .gallery-item:nth-child(3) img, .gallery .gallery-item:nth-child(6) img {
    width: calc(500px - 2rem);
    height: calc(500px - 10rem);
  }
  .gallery .gallery-item:nth-child(3) p, .gallery .gallery-item:nth-child(6) p {
    top: -4.5rem;
  }
}
@media only screen and (max-width: 400px) {
  .container {
    width: 100vw;
    max-width: 100vw;
    margin: 0;
    padding: 1rem;
  }
  .gallery {
    padding: 2rem 0;
    width: calc(100vw - 1rem);
  }
  .gallery .gallery-item {
    width: calc(100vw - 2rem);
    height: calc(250px - 10rem);
  }
  .gallery .gallery-item img {
    width: calc(100vw - 2rem);
    height: calc(250px - 10rem);
  }
  .gallery .gallery-item:nth-child(3), .gallery .gallery-item:nth-child(6) {
    width: calc(100vw - 2rem);
    height: calc(250px - 10rem);
  }
  .gallery .gallery-item:nth-child(3) img, .gallery .gallery-item:nth-child(6) img {
    width: calc(100vw - 2rem);
    height: calc(250px - 10rem);
  }
  .gallery .gallery-item:nth-child(3) p, .gallery .gallery-item:nth-child(6) p {
    top: -4.5rem;
  }
}/*# sourceMappingURL=style.css.map */